/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/


body {
  background-color: #FFF;
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier","Courier New",monospace;
  text-align: left;
  font-size: 15px;
  line-height: 1.3em;
  max-width: 600px;
  margin: 0 auto;
  padding: 2em 0;
  color: rgb(94, 94, 94);
}

p,h1,li {
    margin-top: 1em;
    line-height: 1.6em;
}

h1 {
    font-weight: bold;
}

h2 {
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

a {
    color: inherit;
}

.header, .date {
    color: #AAA;
}

.header {
    margin-bottom: 2em;
    background: rgb(94, 94, 94);
    padding: 1em;
    color: white;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}


pre {
    overflow-x: scroll;
    padding: 1em;
    margin: 1em 0;
}

pre, code {
    background: #EEE;
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier","Courier New",monospace;
    
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
h1 {
    font-size: 1.5em;
}
h1, h2, #post p, #post li {
    font-family: merriweather, sans-serif;
}

#post ul {
    margin: 1em 0;
}

#post li {
    margin: 0.5em 0;
}

#post ul li:before {
    content: ' •  ';
}

#post sup {
    line-height: 0;
}

#post .footnotes {
    margin-top: 3em;
}

@media (max-width: 600px) {
    body {
        width: auto;
        padding: 1em;
/*        font-size: 12px;*/
    }

}