---
layout: default
title: Portfolio
---

<div class="portfolio">  
  
  {% assign major_works = site.data.portfolio | where_exp: "item", "item.major == true" %}
  {% assign minor_works = site.data.portfolio | where_exp: "item", "item.major != true" %}

  <p class="intro-text">I joined the Wall Street Journal’s graphics department in 2014 and have produced dozens of graphics in the years since. My speciality is web graphics — interactives, news apps and data visualisations.</p>

  {% for piece in major_works %}
  <section class="box-cont">
    <h2 >{{ piece.title }}</h2>
    <p>{{piece.description}}</p>
    <div class="screenshot-gallery">
      <ul class="screenshot-gallery-inner">
        {% for asset in piece.media %}
          {% if asset.type == 'video' %}
          <video muted autoplay loop>
            <source src="{{asset.url}}" type="video/webm">
          </video>
          {% else %}
            <img data-src="{{asset.url}}">
          {% endif %}
        {% endfor %}
        <div class="spacer"></div>
      </ul>
    </div>
    <a href="{{piece.url}}" class="full-width-link">View on WSJ.com <small>(may require subscription)</small></a>
  </section>
  {% endfor %}


  <section class="box-cont">
    <ul class="link-list">
    {% for piece in minor_works %}
      <li>
        <a href="{{piece.url}}">{{ piece.title }}</a> {{piece.description}}
      </li>
    {% endfor %}
    </ul>
  </section>
  
  <script src="js/intersection-observer.js"></script>
  <script src="js/lazyload.min.js"></script>
  <script>
    (function() {
        // The "lazyLazy" instance of lazyload is used (kinda improperly)
        // to check when the .screenshot-gallery divs enter the viewport
        var lazyLazy = new LazyLoad({
            elements_selector: ".screenshot-gallery",
            // When the .horzContainer div enters the viewport...
            callback_set: function(el) {
                // ...instantiate a new LazyLoad on it
                var oneLL = new LazyLoad({
                    container: el
                });
            }
        });
    })();
  </script>

</div>