@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,500;1,300;1,500&display=swap');

:root {
  --white: #eee;
  --black: #333;
  --grey: #aaa;
  --red: #87121C;
  --blue: #053c5e;
  --serif: 'Cormorant Garamond', serif;
  --sans-serif: 'Jost', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--serif);
  font-weight: 500;
}
h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: var(--sans-serif);
  margin-bottom: 1em;
}
a {
  text-underline-offset: 0.1em;
  text-decoration-thickness: 1px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
ul.bullets {
  padding-left: 36px;
  list-style-type: disc;
  li {
    font-size: 22.4px;
    margin-bottom: 5px;
  }
}
