---
export let title = 'Elliot Bentley';
export let subtitle;
export let sublink;
---

<style lang="scss">

.title {
  font-family: 'Jost', sans-serif;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.7em 10px;
  color: var(--black);
  user-select: none;
  a {
    color: inherit;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 200ms;
    &:hover {
      opacity: 0.8;
    }
  }
  .divider {
    opacity: 0.2;
  }
  .subtitle {

}
  @media (max-width: 600px) {
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    
    .divider:before {
      content: '';
      display: block;
    }
  }
}



.nav {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

</style>

<nav class="header">
  <h1 class="title">
    <a href="/">{title}</a>
    {subtitle ? (<span><span class="divider"> ⟶ </span><a class="subtitle" href={sublink}>{subtitle}</a></span>) : ''}  
  </h1>
</nav>
