---
export let title;
---

<style lang="scss">

.title {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 800px;
  margin: 2em auto 0.5em auto;
  padding: 10px;
  a {
    color: white;
    text-decoration: none;
  }
}



.nav {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

</style>

<nav class="header">
  <h1 class="title"><a href="/">Elliot Bentley</a></h1>
</nav>
