---
export let title;
---

<style lang="scss">

.title {
  font-family: 'Jost', sans-serif;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  max-width: 800px;
  margin: 0.7em auto 0em auto;
  padding: 10px;
  mix-blend-mode: difference;
  opacity: 0.2;
  a {
    color: white;
    text-decoration: none;
  }
  @media (max-width: 600px) {
    font-size: 2.1em;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
  }
}



.nav {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

</style>

<nav class="header">
  <h1 class="title"><a href="/">Elliot Bentley</a></h1>
</nav>
