<style lang="scss">
  .main-footer {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    padding: 20px 10px;
    background: var(--blue);
    letter-spacing: 0.2px;
    color: var(--white);
    a {
      color: inherit;
      text-underline-offset: initial;
    }
    @media (max-width: 800px) {
      text-align: left;
    }
  }
</style>
<footer class="main-footer">
  <a href="/">elliotbentley.com</a> is <a href="https://github.com/ejb/ejb.github.io">open source</a> and built with <a href="https://github.com/snowpackjs/astro">Astro</a>.
  Fonts: <a href="https://fonts.google.com/specimen/Jost">Jost</a> and <a href="https://fonts.google.com/specimen/Source+Serif+Pro">Source Serif Pro</a>. Icons: <a href="https://fontawesome.com/license">FontAwesome</a>
</footer>
